html{
  width: 1361px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: black;
}


header{
  background-color: brown;
  max-width: 100%;
  position: relative;
}

.nav-1{
  background-color: beige;
  display: flex;
  justify-content: space-between;
  
}

.nav-1 img{
  width: 24px;
  height: 24px;
}

.side-menu .side{
  display: flex;
  position: relative;
}
.side-menu .side li {
  display: block;
  padding: 0, 2px,0, 0 ;
}

.nav-1 .side-menu li::before{
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.nav-1 .side-menu li:first-child::before{
  display: none;
}

.nav-2 img{
  width: 58px;
  height: 20px;
}

.nav-2{
  display: flex;
  justify-content: space-between;
}

.nav-2 .main-menu .main {
  display: flex;
}

